<div id="navbar" class="container-fluid">
  <div class="row">
    <div id="col1" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
      <a href=""><img class="imagen-logo" src="../../../assets/logos/logo1.png" alt=""></a>
    </div>
    <div id="col2" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
      <a href=""><h5>Inicio</h5></a>
    </div>
    <div id="col3" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
      <a href=""><h5>Eventos</h5></a>
    </div>
    <div id="col4" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
      <a href=""><h5>Reservaciones</h5></a>
    </div>
    <div id="col5" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
      <a href=""><h5>Restaurante</h5></a>
    </div>
    <div id="col6" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
      <a href=""><h5>Quienes somos?</h5></a>
    </div>
  </div>
</div>